.projectTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
  margin: 5rem 0;
  color: #000;
  text-align: center;
  user-select: none;
}
.projectCardDes {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.projectCard {
  border-radius: 2px;
  border: none !important;
  margin: 2px;
  box-shadow: 0 0 4px 0 rgba(0, 115, 290, 0.2);
  margin-bottom: 3rem;
}

.projectCard:hover {
  box-shadow: 0 0 8px 0 rgba(0, 115, 290, 0.4);
}

.cardImg {
  height: 400px;
}

.projectBtn {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
